# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment
venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Editor settings (optional)
.vscode/
.cursor/

# OS-specific files
.DS_Store
Thumbs.db

